.tip {
    background-color: #ffd;
    color: #777;
    padding: 1em;
    margin-top: -0.75em;
    font-size: 80%;
    width: 40%;
    float: right;
    margin-left: 1.25em;
    margin-bottom: 1.25em;
}

blockquote p::before {
    color: #c0c0c0;
    margin-left: -1em;
    content: "$ ";
}

blockquote {
    background-color: #f7f7f7;
}

blockquote p {
    font-size: 90%;
    font-family: monospace;
}
